.banner {
  &-slides {
    width: 100%;
  }

  &-slide_item {
    position: relative;

    & img {
      width: 100%;
    }
  }

  &-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;

    z-index: 10;
  }
}

.index-banner {
  position: relative;
}

.slider-btn {
  position: absolute;
  z-index: 10;
  background-color: inherit;
  border: none;
}

.prev-btn {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.next-btn {
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.slick-dots {
  bottom: 10px;
  z-index: 10;

  & li.slick-active button:before {
    color: #fff;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
//responsive
@media (max-width: 968px) {
  .banner {
    &-label {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    &-label {
      font-size: 15px;
      white-space: normal;
      text-align: center;
    }
  }
}
